@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";


@theme {
  --color-1E4137: #1e4137;
  --color-145B46: #145b46;
  --color-03D396: #03D396;
  --color-CFFBEE: #CFFBEE;
}

@theme {
  --font-inter: "Inter";
}

@theme inline {
  --font-sans: var(--font-inter);

}

:root {
  --background: #1e4137;
  --foreground: #1e4137;
}

/* #ffffff; */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e4137/* #0a0a0a; *//* # 145B46 */
    --foreground: #1e4137;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-textfield-decoration,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-password-toggle {
  display: none !important;
}
